body{
font-family:'Segoe UI',sans-serif;
margin:0;
text-align:center;
color:white;
}

header{
background:rgba(0,0,0,0.6);
padding:15px;
}

nav a{
color:white;
margin:15px;
font-size:20px;
text-decoration:none;
}

.container{
margin-top:150px;
}

h1{
font-size:50px;
}

p{
font-size:22px;
}

button{
padding:12px 25px;
font-size:18px;
border:none;
border-radius:6px;
background:#2e7d32;
color:white;
cursor:pointer;
}

input,
select{
padding:12px;
margin:10px;
font-size:18px;
width:260px;
}

.homebtn{
margin-top:40px;
display:inline-block;
padding:10px 25px;
background:#1b5e20;
color:white;
text-decoration:none;
border-radius:6px;
}
